.account-sidebar {
  .avatar {
    font-size: 2rem;
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.03);
  }
  ul {
    li {
      // width: 100%;
      margin: 0;
      padding: 6px 8px;
      cursor: pointer;
      &:hover {
        background: rgba(0, 0, 0, 0.05);
        color: black;
      }
      a{
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }
}
.account_content {
  td {
    padding: 7px;
  }
}
.active {
  background: rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 100%;
  color: black;
}
